body {
  font-family: "Open Sans", sans-serif;
  margin: 0em;
}
.container {
  position: relative;
  width: 100%;
  max-width: 760px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  text-align: center;
  background-color: #1e90ff;
  color: white;
  padding: 0.4em 0em;
}
.calendar {
  height: 1440px;
  margin-top: 15px;
}
.time {
  width: 70px;
  height: 100%;
  display: inline-block;
  /* border: 1px solid black; */
}
#time-table {
  float: right;
  margin-top: -15px;
}
.table-row {
  height: 119px;
  vertical-align: top;
  text-align: right;
}
#slots {
  width: 600px;
  height: 100%;
  position: relative;
  display: inline-block;
  border: 1px solid black;
}
.meeting {
  position: absolute;
  display: inline-block;
  background-color: #82c6b6;
  border: 1px solid grey;
  text-align: center;
}
.button {
  position: fixed;
  right: 150px;
  top: 50px;
  border-radius: 4px;
  background: transparent;
}
#add-form {
  position: fixed;
  padding: 20px;
  right: 75px;
  top:120px;
  background-color: lightgrey;
  visibility: visible;
}
.input {
  margin: 10px;
}