body {
  font-family: "Open Sans", sans-serif;
  margin: 0em;
  background-color: #e6e6e6;
}
.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  background-color: #1e90ff;
  color: white;
}
.calendar {
  position: absolute;
  height: 1440px;
  margin-top: 100px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  max-width: 760px;
}
.time {
  width: 70px;
  height: 100%;
  display: inline-block;
  border-right: 1px solid grey;
}
#timeTable {
  float: right;
  margin-top: -12px;
}
.table-row {
  height: 119px;
  vertical-align: top;
  text-align: right;
}
#slots {
  width: 600px;
  height: 100%;
  position: relative;
  display: inline-block;
  /* border-left: 1px solid #888888; */
}
.meeting {
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: #82c6b6;
  border: 1px solid grey;
  border-radius: 9px;
  box-shadow: 5px 10px #888888;
}
.button {
  position: fixed;
  right: 150px;
  top: 50px;
  border-radius: 4px;
  background: transparent;
}
.input {
  margin: 10px;
}
.footer-form {
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 100;
  text-align: center;
  background-color: #1e90ff;
}